* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
#Wrapper {
  height: auto;
  background-color: #e91e6373;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#Wrapper img {
  margin: 40px;
}
#TextArea {
  font-size: 18px;
  width: 59%;
  line-height: 2rem;
  text-align: left;
  margin: auto;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: white;
}
#Button1 {
  width: 20%;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(44, 75, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
#Button1:hover,
#Button1:focus,
#Button1:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#imageBox {
  width: 100%;
  /* position: relative; */
}
#imageBox img:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.5);
}
.imgbox {
  width: 100%;
  background-color: #d9dfdf8a;
}
section {
  display: flex;
  justify-content: space-evenly;
  margin-top: -105px;
  text-align: center;
}
section p {
  font-size: 25px;
  font-weight: bolder;
}
section h1 {
  font-size: 65px;
}
.h1 {
  color: rgb(135, 194, 33);
}
.h2 {
  color: rgb(250, 211, 42);
}
.h3 {
  color: rgb(233, 114, 132);
}
#Wrapper-2 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
#Boxes-I {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  width: 80%;
  margin: auto;
  text-align: center;
  line-height: 3rem;
  margin-top: 30px;
  font-style: italic;
  margin-bottom: 40px;
}
#Boxes-I h2 {
  color: gray;
}
.accordian {
  width: 55%;
  margin: 0 auto;
}
#accordian-head {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
}
#accordian-head p {
  line-height: 1.5rem;
}
.accordian .contentBox {
  position: relative;
  margin: 10px 20px;
}
.accordian .contentBox .label {
  position: relative;
  padding: 10px;

  cursor: pointer;
}
.accordian .contentBox .label::before {
  content: "\1433";
  position: absolute;
  right: 0%;
  top: 2%;
  transform: translate(-50%);
  font-size: 1.5em;
}
.accordian .contentBox .content {
  color: black;
  position: relative;
  /* background-color: aquamarine; */
  overflow: hidden;
  height: 0;
  /* padding: 10px; */
  transition: 0.5s;
  overflow: auto;
}
.accordian .contentBox.active .content {
  height: 150px;
  padding: 10px;
}
.accordian .contentBox.active .label::before {
  content: "\290B";
}
.label {
  margin-top: 10px;
  /* background-color: bisque; */
  font-weight: 900;
  font-size: 18px;
}

.imageBox-2{
  width: 100%;
}
.imageBox-2 img {
  width: 100%;
object-fit: none;
}
.Head{
  background-color:rgba(237, 237, 237, 0.696)
 
}
#HeadBox{
  width: 50%;
  margin: auto;

}
#HeadBox h1{
  padding: 30px 0px;
  margin-bottom: 20px;
}
#HeadBox h1+p{
  line-height: 1.5em;
}
#Card-div{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  width: 90%;
  margin: auto;
  grid-area: 30px;
  margin-top: 5%;
  align-items: center;
}
#Card-div p{
  margin-top: 10px;
  line-height: 1.5em;
  margin-bottom: 30px;
}
.fa-solid{
  font-size: 50px;
}
.fa-brands{
font-size: 50px;
}
#Team{
  width: 50%;
  margin: auto;
}
#Team p{
  line-height: 1.5em;
  margin-top: 8%;
}
#Button2{
  width: 30%;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(44, 75, 255);
  color: rgb(255, 255, 255);
  padding: 20px 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin-top: 30px;

}
#Button2:hover,
#Button2:focus,
#Button2:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*-------------- Bottom---------- */

#Button3{
  width: 30%;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(233, 114, 132);
  color: rgb(255, 255, 255);
  padding: 20px 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  margin-top: 30px;

}
#Button3:hover,
#Button3:focus,
#Button3:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#container{
  width: 100%;
  background-color: rgb(44, 75, 255);
  height: 370px;
  /* height: auto; */
}
#container img{
  width: 150px;
}
.cont{
  width: 50%;
  color: white;
  margin: 0 auto;
  text-align: center;
  /* background-color: rgb(44, 75, 255); */
}
#tick{
  margin-bottom: 30px;
}
/* ------------End------------------- */
#footer{
  margin-top: 150px;
}