.logo {
    width: 20px;
}

.d-flex {
    display: flex!important;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

a {
    color: var(--bs-link-color);
    /* text-decoration: underline; */
    /* font-size: 20px; */
    text-decoration: none!important;
}
ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin-left: 120px;
    gap: 20px;
    /* font-size: 20px; */
}
button.btn.btn-primary {
    /* font-size: 20px; */
}

a.navbar-brand {
    font-size: 25px;
    font-weight: 700;
}


.col-xl-3 {
    flex: 0 0 auto;
    width: 20%!important;
}
/* .col-xl-2 {
    flex: 0 0 auto;
    width: 19.666667%!important;;
} */

.row {
    color: black;
}

footer.text-center.text-lg-start.text-white {
    background-color: none;
    background-color: white!important;
    font-size: 16px;
    font-weight: 400;
}
.text-uppercase {
    text-transform: uppercase !important;
    font-weight: 700;
}

.span {
    border: none;
    border-radius: 20px;
    background-color: #a8b9f4;
}
/*  {
   
} */
@media (min-width: 600px){
    #follow { width: 30%;

    }
}

.contant {
    height: 500px;
    border: solid 2px red;
}

h4#logo-i {
    font-size: 33px;
    font-weight: 700;
}

.flex.social-btns {
    /* border-radius: 20px; */
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
a.app-btn.blu.flex.vert {
    /* background-color: black; */
    border: solid 1px blue;
    border-radius: 20px;
    font-size: 12px;
    width: 40%;
    text-align: center;
}
a.btn.btn-primary.btn-floating.m-1 {
    background: white;
    color: black;
    font-size: 15px;
    border: none;
}
h6.text-uppercase.mb-4.font-weight-bold {
    margin-bottom: 0;
    font-size: 13px;
    text-transform: lowercase;
}
.col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3 {
    margin-left: 20px!important;
    
}
@media (min-width: 600px){
    .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3 {
        margin-left: 20px!important;
        width: 14%;
    }
}

@media only screen and (max-width: 600px) {
    .flex.social-btns {
    /* border-radius: 20px; */
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}
}

@media only screen and (min-width: 100px) {
    .row {
    align-items: center;
}
}